{% extends 'core/base.html' %} {% load crispy_forms_tags %} {% block body %}


<center class="container">
    <form method="POST" style="margin: 4%; padding:10%; border-radius:1%;" target="">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy}}
        </fieldset>

        <button class="btn btn-outline-info" type="submit">login</button>

        <br><br>
        <p><a href="{% url 'register' %}">Don't have account? sign up</a></p>
    </form>
</center>
{% endblock %}